.main-container{
  height: 100vh;
  width: 100vw;
}

.editor-container{
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.editor-container .title{
  padding: 10px;
}
.editor{
  height: 70vh;
  border: 1px solid #4c4c4c;
  display: flex;
  flex-direction: column;
  position: relative;
}
.editor-buttons{
  align-self: end;
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}
.reset-button{
  background-color: #d57777;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}
.reset-button:hover {
  border-color: #f83f1d;

}


.output{
  margin-top: 10px;
  background-color: #222222;
  border: 1px solid #4c4c4c;
  padding: 10px;

}
.output h3{
  margin-bottom: 10px;
}

.output .output-text{
  font-size: large;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #41784c;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #9dff64;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
